<li class="nav-item">
  <%= link_to t('arclight.routes.home'), search_catalog_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to t('routes.inventory'), solr_document_path(id: 'mt839rq8746'), class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to t('routes.about'), root_path, class: 'nav-link' %>
</li>
