<% if @mode != :vt %>
  <li class="nav-item"><%= render Header::BookmarkCounter.new %></li>
  <li class="nav-item"><%= render 'blacklight/nav/search_history' %></li>
<% end %>
<li class="nav-item"><a href="#feedback" class="nav-link" data-bs-toggle="collapse" data-bs-target="#feedback">Feedback</a></li>
