<div id="embed" class="mb-4">
  <%= content_warning %>
  <%= render OembedViewerComponent.with_collection(embeddable_resources, document: @document, search: query_param) %>

  <% linked_resources.each do |resource| %>
    <div class="al-digital-object">
      <%= link_to(resource.label, resource.href) %>
    </div>
  <% end %>
</div>
