<ul class="navbar-nav">
  <% unless main_page? %>
    <li class="nav-item"><%= render 'blacklight/nav/bookmark' %></li>
    <li class="nav-item"><%= render 'blacklight/nav/search_history' %></li>
  <% end %>
  <li class="nav-item"><a href="#feedback" class="nav-link" data-action="feedback#toggle">Feedback</a></li>
</ul>
