<div class='al-masthead bg-light'>
  <div class="container">
    <span class="h1 text-center"><%= heading %></span>

    <nav class="nav-links" aria-label="browse">
      <ul class="navbar-nav  justify-content-center">
        <%= render 'shared/main_menu_links' %>
      </ul>
    </nav>
  </div>
</div>
