<p>The Taube Archive of the International Military Tribunal (IMT) at Nuremberg, 1945-1946 archival collection collects, for the first time, all of the Nuremberg IMT documentation, including film, audio recordings, photographs, and all of the massive body of records, transcripts, evidence, minutes of meetings, and other documents, online in one location. All [9999] items in this collection are searchable and viewable in digital form.</p>

<div class="alert global-warning">
  <span>Content warning:</span> Users are advised that material in Taube Archive of the International Military Tribunal (IMT) at Nuremberg, 1945-46 contains language and imagery depicting human rights violations, ethnic cleansing, acts of genocide, wartime violence, and offensive stereotypes of people and cultures. Stanford Libraries makes this material available to facilitate scholarly research and education, and does not endorse the viewpoints within.
</div>

<div class="row explore">
  <h2 class="h3">Explore the collection</h2>

  <div class="col-sm-4">
    <div class="card mb-3 mb-sm-0">
      <%= image_tag 'explore-facet-doc-type.png', class: 'card-img-top', alt:'' %>
      <div class="card-body">
        <h3 class="card-title">Document type</h3>
        <div class="facet-links">
          <a href="#">
            <span class="badge">Court transcripts</span>
          </a>
          <a href="#">
            <span class="badge">Exhibits</span>
          </a>
          <a href="#">
            <span class="badge">Pleas</span>
          </a>
          <a href="#">
            <span class="badge">Rulings</span>
          </a>
          <a href="#">
            <span class="badge">more...</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3 mb-sm-0">
      <%= image_tag 'explore-facet-media-format.png', class: 'card-img-top', alt:'' %>
      <div class="card-body">
        <h3 class="card-title">Media format</h3>
        <div class="facet-links">
          <a href="#">
            <span class="badge">Images</span>
          </a>
          <a href="#">
            <span class="badge">Sound</span>
          </a>
          <a href="#">
            <span class="badge">Text</span>
          </a>
          <a href="#">
            <span class="badge">Video</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mb-3 mb-sm-0">
      <%= image_tag 'explore-facet-doc-format.png', class: 'card-img-top', alt:'' %>
      <div class="card-body">
        <h3 class="card-title">Document format</h3>
        <div class="facet-links">
          <a href="#">
            <span class="badge">Book</span>
          </a>
          <a href="#">
            <span class="badge">Envelope</span>
          </a>
          <a href="#">
            <span class="badge">Film</span>
          </a>
          <a href="#">
            <span class="badge">Microfilm</span>
          </a>
          <a href="#">
            <span class="badge">more...</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="h3">More about the project</h2>

<p>The Taube IMT collection is part of the <a href="https://humanrights.stanford.edu">Stanford Center for Human Rights and International Justice</a>'s <a href="https://humanrights.stanford.edu/digital-archives-and-new-technologies/virtual-tribunals-initiative-wwii-trial-records-collections">Virtual Tribunal initiative</a>. This project makes a significant contribution to the international community’s cooperative efforts to ensure the long-term preservation of Virtual Tribunal archives. We anticipate continuing to grow this site with additional post-WWII collections from the U.S. Military War Crimes Trials in Europe and in the Far East. Beyond that, other forthcoming collections from more recent international criminal tribunals will include video and audio recordings of court proceedings, alongside transcripts, and evidence presented at trial.</p>
