// Entry point for your Sass build
@import 'palette';
@import 'bootstrapVariables';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrapOverrides';

$logo-image: url(StanfordLibraries-logo-whitetext.svg);
@import 'blacklight-frontend/app/assets/stylesheets/blacklight/blacklight';

$logo-width: 200px;
.navbar-logo {
  background-size: $logo-width 55px;
  width: $logo-width;
  flex: 0 0 $logo-width;
}

@import 'arclight/app/assets/stylesheets/arclight/application';

.al-masthead, .navbar-search {
  background-color: $stanford-fog-light;
}

.al-masthead + .navbar-search {
  border: 0; // overriding the style from arclight
}
.navbar-search {
  padding-bottom: 1rem;
}