// Entry point for your Sass build

:root {
  // https://identity.stanford.edu/design-elements/color/primary-colors/
  --stanford-cool-grey: #53565a; // used in SDR header (not yet added)
}

@import "bootstrap/scss/bootstrap";
@import "bootstrapVariables";
@import "bootstrapOverrides";
@import "blacklight/blacklight";
@import "arclight/application";
@import "landingPage";
@import "home";
@import "sidebar";
@import "component";
@import "searchbar";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  @extend .mt-4;
}

.cardinal-dark {
  --bs-dark-rgb: var(--stanford-cardinal-dark-rgb);
  color: white;
}

.search-widgets {
  width: auto; // Allows the pagination to drop onto the same line as the sort and per page widgets
}

.blacklight-catalog-show {
  .constraints-container {
    display: none; // Never show "back to search" or "start over" on an item show page.
  }
}

.documents-list {
  & article.document dd.al-document-abstract-or-scope {
    margin-top: 0;
  }

  .document-metadata {
    margin-bottom: 0;

    .attribute {
      display: inline-flex;
      font-size: 0.938rem;
      padding-right: 0;
      width: auto;

      &::after {
        content: "⸱";
        padding-left: calc(var(--bs-gutter-x) * 0.5);
      }

      &:last-of-type::after {
        content: "";
      }
    }

    .full-text {
      font-size: 0.938rem;

      .prepared-search-link {
        display: block;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }

      .full-text-expand {
        &::after {
          content: "▶";
          float: right;
          transform: rotate(90deg);
        }
        &.collapsed::after {
          transform: rotate(0deg);
          transition: transform 0.1s ease;
        }
      }

      .full-text-snippet {
        border-left: 1px solid var(--stanford-20-black);
        padding-left: 1rem;
      }
    }
  }
}

.facet-limit-active .card-header {
  background-color: var(--stanford-20-black) !important;
}

.facet-values li .selected {
  color: var(--stanford-digital-green) !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

#ead-info {
  margin-left: 0.25rem;
}

.tooltip-inner {
  text-align: left;
}
