// Entry point for your Sass build
@import 'palette';
@import 'bootstrapVariables';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrapOverrides';
@import 'blacklight/blacklight';
@import 'arclight/application';
@import 'landingPage';
@import 'home';
@import 'sidebar';
@import 'component';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  @extend .mt-4;
}

.search-widgets {
  width: auto; // Allows the pagination to drop onto the same line as the sort and per page widgets
}

.blacklight-catalog-show {
  .constraints-container {
    display: none; // Never show "back to search" or "start over" on an item show page.
  }
}

.prefooter-logo {
  background-color: black;
  width: 280px;
}

.al-masthead h1,
.al-masthead .h1 {
  padding: 1.25rem 0;
}

.al-masthead,
.navbar-search {
  background: rgb(213, 213, 212);
  background: linear-gradient(
    145deg,
    rgba(213, 213, 212, 0.464005585144214) 10%,
    rgba(244, 244, 244, 1) 95%
  );
}

.al-masthead + .navbar-search {
  border: 0; // overriding the style from arclight
  border-bottom: 1px solid $stanford-black-20;
}

.navbar-search {
  padding-bottom: 1.5rem;

  > .container {
    justify-content: space-around; // center the search box
  }

  .search_field {
    flex: none;
  }

  auto-complete {
    flex: auto;
  }
}

.documents-list {
  & article.document dd.al-document-abstract-or-scope {
    margin-top: 0;
  }

  .document-metadata {
    margin-bottom: 0;

    .attribute {
      display: inline-flex;
      font-size: 0.938rem;
      padding-right: 0;
      width: auto;

      &::after {
        content: "⸱";
        padding-left: calc(var(--bs-gutter-x) * 0.5);
      }

      &:last-of-type::after {
        content: "";
      }
    }

    .full-text {
      font-size: 0.938rem;

      .prepared-search-link {
        display: block;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }

      .full-text-expand {
        &::after {
          content: "▶";
          float: right;
          transform: rotate(90deg);
        }
        &.collapsed::after {
          transform: rotate(0deg);
          transition: transform 0.1s ease;
        }
      }

      .full-text-snippet {
        border-left: 1px solid $stanford-black-20;
        padding-left: 1rem;
      }
    }
  }
}

.facet-limit-active .card-header {
  background-color: $stanford-black-20 !important;
}

.facet-values li .selected {
  color: var(--stanford-digital-green) !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

#ead-info {
  margin-left: 0.25rem;
}

.tooltip-inner {
  text-align: left;
}

// This style comes from Blacklight::SearchBarComponent and breaks our header styles
.bg-light {
  --bs-bg-opacity: unset;
} 

.navbar .search-query-form button {
  align-items: center;
}