.blacklight-catalog-show {

  // Adjustments for sidebar styling that are only applicable
  // when the sidebar is not collapsed (as on mobile).
  @media (min-width: 992px) {
    .al-masthead + .navbar-search {
      margin-bottom: 0;
    }

    > .container {
      margin-top: 0 !important;
    }

    section {
      padding-top: 2rem;

      &.show-document {
        padding-left: 2rem !important;
      }
    }
  }
}
