.blacklight-catalog-show {
  .al-show-breadcrumb {
    margin-bottom: 1rem;
  }

  .title-container {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .al-collection-content-icon {
    fill: var(--stanford-cool-grey);
  }

  .al-show-sub-heading {
    color: var(--stanford-black);
  }

  .al-number-of-children-badge {
    background-color: var(--stanford-fog-light) !important;
    border: 0.75px solid var(--stanford-20-black);
    color: var(--stanford-cool-grey);
  }

  .dl-invert dt {
    color: var(--stanford-cool-grey);
  }

  .show-document h1 {
    @extend .h3;
  }

  // Adjustments for sidebar styling that are only applicable
  // when the sidebar is *not* collapsed (as it is on mobile).
  @media (min-width: 992px) {
    .al-masthead + .navbar-search {
      margin-bottom: 0;
    }

    > .container {
      margin-top: 0 !important;
    }

    .show-document,
    .collection-sidebar {
      padding-top: 2rem;
    }

    .show-document {
      padding-left: 2rem !important;
    }
  }
}
