.global-warning {
  background-color: $stanford-fog-light;
  border-color: $stanford-fog;

  span {
    font-weight: 600;
  }
}

.explore {
  @extend .my-4;
  
  .card {
    background-color: $stanford-fog-light;
    border-color: $silver-sand;
    text-align: center;

    .card-body {
      border-top: 1px solid $silver-sand;
    }

    .badge {
      background-color: $stanford-stone;
      font-weight: 500;
    }

    h3 {
      @extend .h5;
    }
  }
}
