.global-warning {
  background-color: $cyan-blue-light;
  border-color: $stanford-black-20;
  font-size: $font-size-sm;
  padding: 0.75rem;

  display: flex;
  align-items: center;

  .warning-icon {
    color: $stanford-cool-grey;
    margin-right: 1.5rem;

    @media (max-width: 767px){
      display: none;
    }
  }

  span {
    font-weight: 600;
  }
}

.explore {
  .card {
    background-color: $cyan-blue-light;
    border-color: $stanford-black-20;
    text-align: center;

    .card-body {
      border-top: 1px solid $stanford-black-20;
    }

    .badge {
      background-color: $stanford-black-20;
      color: $stanford-black;
      font-weight: 500;
    }

    h3 {
      @extend .h5;
    }
  }
}

.home-heading {
  border-bottom: 1px solid $stanford-black-20;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

#feedback {
  overflow: hidden;
  transition: all .5s ease-in-out;
  max-height: 0;

  &.open {
    max-height: 100vh;
  }
 }
 
