.warning {
  background-color: $cyan-blue-light;
  border-color: $stanford-black-20;
  font-size: $font-size-sm;
  padding: 0.75rem;

  &.global-warning {
    display: flex;
    align-items: center;
  }

  .warning-icon {
    color: $stanford-cool-grey;
    margin-right: 1.5rem;

    @media (max-width: 767px) {
      display: none;
    }
  }

  span {
    font-weight: 600;
  }
}

.explore {
  .card {
    background-color: $cyan-blue-light;
    border-color: $stanford-black-20;
    text-align: center;

    .card-body {
      border-top: 1px solid $stanford-black-20;
    }

    .facet-links {
      display: flex;
      flex-wrap: wrap;
      gap: #{$spacer * 0.25};
      justify-content: center;
    }

    .badge {
      background-color: $stanford-black-20;
      color: var(--stanford-black);
      font-weight: 500;
    }

    h3 {
      @extend .h5;
      text-align: center;
    }
  }
}

#feedback {
  label {
    font-weight: $font-weight-semibold;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
