.vt-landing-page {
  p {
    max-width: 82ch;
  }

  h2 {
    border-bottom: 1px solid $stanford-stone-light;
    @extend .pb-2;
  }

  .vt-item {
    @extend .mt-3;
    @extend .mb-4;

    .item-image {
      @extend .me-3;
      
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
