// https://identity.stanford.edu/design-elements/color/primary-colors/
$stanford-cardinal: #8c1515;
$stanford-cool-grey: #53565a; // used in SDR header (not yet added)
$stanford-black: #2e2d29; // "100% black" in Stanford brand identity
$tapa: #767674; // "60% black" in Stanford brand identity
$silver-sand: #c0c0bf; // "30% black" in Stanford brand identity
$stanford-black-20: #d5d5d4; // "20% black" in Stanford brand identity
$whisper: #eaeaea; // "10% black" in Stanford brand identity, used as modal bg color

// https://identity.stanford.edu/design-elements/color/web/
$stanford-digital-blue: #006cb8;
$stanford-digital-green: #008566;
$stanford-digital-red: #b1040e;

// https://identity.stanford.edu/design-elements/color/accent-colors/
$stanford-fog: #dad7cb;
$stanford-fog-light: #f4f4f4;
$stanford-stone: #7F7776;
$stanford-stone-light: #D4D1D1;

// Non-Stanford identity colors
$cyan-blue-light: #f8f9fa;
$gray-light: #fafafa;
