<%= top_bar %>

<div class='bg-faded al-masthead'>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <span class="h1"><%= t('.title') %></span>
      </div>
    </div>
  </div>
</div>