# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest
    # services:
      # postgres:
      #   image: postgres:11-alpine
      #   ports:
      #     - "5432:5432"
      #   env:
      #     POSTGRES_DB: rails_test
      #     POSTGRES_USER: rails
      #     POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      # Uncomment if we want to test on pg
      # DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.2
      # Capybara has switched to the "new" headless chrome by default.
      # https://developer.chrome.com/docs/chromium/new-headless
      # Chrome on ubuntu-latest, currently 22.04, causes some tests to crash
      # when using this option.
      - name: Install Latest Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 'latest'
      # Add or replace database setup steps here
      - name: Set up database schema
        run: bin/rails db:schema:load
      # Add or replace test runners here
      - name: Run tests
        run: bin/rake ci

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.2
      # Add or replace any other lints here
      # - name: Security audit dependencies
      #   run: bin/bundler-audit --update
      - name: Lint Ruby files
        run: bin/rubocop --parallel
