<p>Content goes here.</p>
<ul>
  <li>
    <%= link_to search_catalog_path do %>
      Taube Archive of the International Military Tribunal (IMT) at Nuremberg (1945-1946)
    <% end %>
  </li>
    <li>
    <%= link_to '//exhibits.stanford.edu/virtual-tribunals' do %>
      Virtual Tribunals Online Exhibit
    <% end %>
  </li>
</ul>